{% extends "main/base.html.twig" %}

{% block body %}

    {% include "includes/menu.html.twig" %}

    <div class="grid grid-cols-8 gap-12 mt-8">
        <div class="col-span-2"></div>
        <div class="col-span-4">
            {% include "includes/user_profile_infos.html.twig" %}
        </div>
        <div class="col-span-2"></div>
    </div>






{% endblock %}