.text-beige{
    color: #FF7F7B;
}

.bg-beige{
    background-color: #FF7F7B;
}

.bg-beige-light{
    background-color: #FEEAE6;
}

.card{
    -webkit-box-shadow: 0px 13px 46px 1px rgba(255,209,197,1);
    -moz-box-shadow: 0px 13px 46px 1px rgba(255,209,197,1);
    box-shadow: 0px 13px 46px 1px rgba(255,209,197,1);

    border-radius: 42px
}

.category-img{
    width: 86px;
    height: 120px;
    overflow: hidden;

    border-radius: 24px;
}

.category-radius{
    border-radius: 24px;
}

.sidebar-left-banner{
    min-height: 280px;
}

.col-post{
    column-width: 48px;
}