.text-beige{
    color: #FF7F7B;
}

.text-green-active{
    color: #7AC133;
}

.bg-beige{
    background-color: #FF7F7B;
}

.bg-beige-light{
    background-color: #FEEAE6;
}

.card{
    -webkit-box-shadow: 0px 13px 46px 1px rgba(255,209,197,1);
    -moz-box-shadow: 0px 13px 46px 1px rgba(255,209,197,1);
    box-shadow: 0px 13px 46px 1px rgba(255,209,197,1);

    border-radius: 36px
}

.card-hover{
    -webkit-box-shadow: 0px 13px 46px 1px rgba(255,209,197,1);
    -moz-box-shadow: 0px 13px 46px 1px rgba(255,209,197,1);
    box-shadow: 0px 13px 46px 1px rgba(255,209,197,1);

    transition: all ease 200ms;

    border-radius: 36px
}

.card-hover:hover{
    -webkit-box-shadow: 0px 18px 54px 1px rgb(236, 185, 171);
    -moz-box-shadow: 0px 18px 54px 1px rgba(236, 185, 171);
    box-shadow: 0px 18px 54px 1px rgba(236, 185, 171);

    transform: scale(1.1);

}

.category-img{
    width: 86px;
    height: 120px;
    overflow: hidden;

    border-radius: 24px;
}

.category-radius{
    border-radius: 36px;
}

.sidebar-left-banner{
    min-height: 280px;
}

.col-post{
    grid-template-columns: 48px 1fr 48px;
}

.col-reply{
    grid-template-columns: 48px 1fr;
}

.friend-avatar{
    height: 72px;
    width: 72px;

    border-radius: 16px;
}

.vote-arrow-active{
    fill: #7AC133;
}
