<div class="flex items-center mb-6 border border-solid border-gray-400 category-radius">
    <div class="category-img mr-4">
        <img src="{{ asset("img/catg" ~ id ~ ".jpg") }}" alt="" class="h-full w-full object-cover">
    </div>

    <div>
        <h3 class="inline uppercase text-sm uppercase font-semibold">{{ id ?? "undefined" }} - Title</h3>
        <p class="text-sm text-gray-500">43 posts</p>
    </div>

</div>