<div class="p-8 bg-white card-hover mb-6">

    <a href="#">

        <div class="flex">
            <!-- AVATAR -->
            <button class="w-12 h-12 overflow-hidden rounded-lg mr-4">
                <img class="object-cover h-full" src="{{ asset('img/avocat.jpg') }}" alt="" />
            </button>

            <h3 class="font-bold">{{ upvotedPost.author.username }}</h3>
        </div>

        <p class="text-gray-600 mt-4">{{ upvotedPost.content }}</p>

        <a href="#" class="text-beige font-bold text-xs float-right mt-2 uppercase">Read</a>
        <span class="float-none invisible h-0">foo</span>

    </a>


</div>