<div class="mx-auto w-full p-8 card">

    <h1>Bienvenue sur la Home</h1>

    {% include "includes/post.html.twig" %}
    {% include "includes/post.html.twig" %}
    {% include "includes/post.html.twig" %}
</div>