<div class="flex flex-col align-middle shadow p-4 mb-8">

    <img src="{{ asset('img/ruvim-noga-o0R4iqk1eRQ-unsplash.jpg') }}" alt="">
    <h2 class="my-4 text-2xl">Je suis un post</h2>
    <hr>
    <p class="mt-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cumque, cupiditate debitis delectus dolore ipsum laboriosam optio repellendus sapiente. Architecto deserunt dolore, doloremque dolores odit quibusdam reiciendis rem repellat temporibus?</p>
</div>