<div class="w-full h-full p-8 card">

    <div class="flex justify-between mb-8">
        <h2 class="uppercase text-sm font-semibold">Top Categories</h2>
        <a href="#" class="uppercase text-sm font-semibold text-beige">All</a>
    </div>


    {% for i in 1..nb_category ?? 4 %}

        {% include 'includes/category.html.twig' with { 'id' : i } %}

    {% endfor %}
    
    <div class="sidebar-left-banner mt-10">
        <img src="{{ asset('img/pub_banner.jpg') }}" alt="" class="h-full w-full object-cover category-radius">
    </div>

</div>