<div class="p-8 bg-white card mb-6">

    <div class="flex relative">
        <!-- AVATAR -->
        <button class="min-w-12 h-12 overflow-hidden rounded-lg mr-4">
            <img class="object-cover h-full" src="{{ asset('img/avocat.jpg') }}" alt="" />
        </button>

        <h3 class="font-bold">Super very very very long cool title</h3>
    </div>

    <p class="text-gray-600 mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>

    <a href="#" class="text-beige font-bold text-xs float-right mt-2 uppercase">Read</a>
    <span class="float-none invisible h-0">foo</span>

</div>